@import "../../_variables.scss";

.cartPageContainer{
    padding: 20px;
    .orderCardContainer{
        display: flex;
        justify-content: end;
        margin-top: 20px;
        .orderCardMainContainer{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            width: 20%;
            padding: 18px 20px;
            border-radius: 6px;
            border: 1px solid $black-soft;
            display: grid;
            gap: 12px;
            div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .kdvText{
                    color: $red;
                }   
            }
        }
    }
}