@import '../../_variables.scss';

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $indian-red-soft;
    height: 80px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 0px 20px;
    .leftContainer{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        .logoContainer{
            span{
                font-size: 24px;
                font-weight: 600;
            }
        }
        .searchContainer{
            margin-left: 40px;
            width: 50%;
        }
    }
    .rightContainer{
    }
}