$indian-red: #E9BBB5;
$indian-red-soft: rgba(233, 187, 181, .8);
$burly-wood: #E7CBA9;
$light-steel-blue: #AAD9CD;
$light-steel-blue-soft: rgba(170, 217, 205, .3);
$light-khaki: #E8D595;
$dark-sea-green: #8DA47E;
$black : #41444B;
$black-soft : rgba(65, 68, 75, 0.3);
$black-very-soft : rgba(65, 68, 75, 0.1);
$white : #FBF9F1;
$red: #ff6961;
$green: #3ace3a;