.productsContainer{
    height: calc(100vh - 120px);
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-right: 10px;
    width: 70%;
    @media screen and (max-width: 1950px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @media screen and (max-width: 1630px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media screen and (max-width: 1335px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}